@media screen and (max-width: 550px) {
    .hamburger {
        display: block;
        height: 50px;
        width: 50px;
        background-color: #ff0000;
    }

    .navigation-menu ul {
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        height: calc(100vh - 60px);
        background-color: white;
        border-top: 1px solid black;
        display: none;
    }

    .navigation-menu li {
        text-align: center;
        margin: 0;
    }

    .navigation-menu li a {
        color: black !important;
        width: 100%;
        padding: 1.5rem 0;
    }

    .navigation-menu li:hover {
        background-color: #eee;
    }

    .navigation-menu.expanded ul {
        display: block;
    }

    .menu-links {
        display: none !important;
    }

    .mobile-custome {
        margin-left: 30px !important;
    }

    .footer-social {
        width: 20px;
    }

    .footer-submenuleft-section {
        font-size: 10px !important;
        font-weight: 900 !important;
    }
}