.body {
    font-family: "Poppins", sans-serif !important;
}

.navigation {
    position: relative;
    display: flex;
    align-items: center;
    height: 80px;
    z-index: 2 !important;
    width: 100%;
    padding: 3.2rem 3rem;
    background-color: #2E255C;
    color: rgb(255, 255, 255);
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.slick-dots-right {
    z-index: 1 !important;
}

.brand-name {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    margin-left: 1rem;
}

.navigation-menu {
    margin-left: auto;
}

.navigation-menu ul {
    display: flex;
    margin-bottom: 0em !important;
    padding: 0;
}

.navigation-menu li {
    list-style-type: none;
    margin: 0 1rem;
    color: white !important;
}

.navigation-menu li a {
    text-decoration: none;
    display: block;
    color: white !important;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    width: 100%;
}

.menu-cta {
    font-weight: 600 !important;
}

.hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #283b8b;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
}

.hamburger:hover {
    background-color: #2642af;
}

.site-layout-content {
    margin-top: 10px;
}

.footer-submenu {
    background: black !important;
    color: white !important;
    font-family: "Poppins", sans-serif !important;

    h5 {
        color: white !important;
        font-family: "Poppins", sans-serif !important;
    }

    .footer-submenuright-section {
        margin-top: -7px;
        text-align: right;
    }

    .footer-links {
        font-size: 15px;
    }
}

.site-card-wrapper {
    margin: 20px !important;
}

.gallery {
    margin: 20px !important;

    .image-div {
        padding-bottom: 20px;
    }
}