.body {
    font-family: "Poppins", sans-serif !important;
}

.navigation {
    position: relative;
    display: flex;
    align-items: center;
    height: 80px;
    z-index: 2 !important;
    width: 100%;
    padding: 3.2rem 3rem;
    background-color: #2E255C;
    color: rgb(255, 255, 255);
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.slick-dots-right {
    z-index: 1 !important;
}

.brand-name {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    margin-left: 1rem;
}

.navigation-menu {
    margin-left: auto;
}

.navigation-menu ul {
    display: flex;
    margin-bottom: 0em !important;
    padding: 0;
}

.navigation-menu li {
    list-style-type: none;
    margin: 0 1rem;
    color: white !important;
}

.navigation-menu li a {
    text-decoration: none;
    display: block;
    color: white !important;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    width: 100%;
}

.menu-cta {
    font-weight: 600 !important;
}

.hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #283b8b;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
}

.hamburger:hover {
    background-color: #2642af;
}

.site-layout-content {
    margin-top: 10px;
}

.footer-submenu {
    background: black !important;
    color: white !important;
    font-family: "Poppins", sans-serif !important;

    h5 {
        color: white !important;
        font-family: "Poppins", sans-serif !important;
    }

    .footer-submenuright-section {
        margin-top: -7px;
        text-align: right;
    }

    .footer-links {
        font-size: 15px;
    }
}

.site-card-wrapper {
    margin: 20px !important;
}

.gallery {
    margin: 20px !important;

    .image-div {
        padding-bottom: 20px;
    }
}

.icon-bar {
    position: fixed;
    top: 50%;
    z-index: 1 !important;
    right: 50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    .ant-btn-icon-only {
        width: 50px !important;
        height: 50px !important;
        margin-bottom: 10px;
        animation: fadeIn ease 10s !important;
        -webkit-animation: fadeIn ease 10s !important;
        -moz-animation: fadeIn ease 10s !important;
        -o-animation: fadeIn ease 10s !important;
        -ms-animation: fadeIn ease 10s !important;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @-moz-keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @-webkit-keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @-o-keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @-ms-keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

.slider-swap {
    padding: 100px 0 50px;
    width: 100%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 90vh;
    position: relative;

    .slider-text-area {

        h1 {
            color: white;
            margin-right: 50px;
            margin-left: 50px;
            text-transform: uppercase;
            padding-top: 320px;
            font-family: "Poppins", sans-serif;
            line-height: 2;
            letter-spacing: 0.02em;
            filter: drop-shadow(rgba(0, 0, 0, 0.4) 2px 3px 3px);
            transform: translate3d(-10px, 0px, 0px);
            transition-duration: 0ms;
            font-size: 25px;
        }

    }

}

.swiper-button-prev {
    color: white !important;
}

.swiper-button-next {
    color: white !important;
}

.course-section {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 100% !important;
    height: 400px;
    text-align: left;
    position: relative;

    h2 {
        position: absolute;
        margin: 20px;
        color: white;
        font-family: "Poppins", sans-serif !important;
        font-weight: 800;
        text-transform: uppercase;
        bottom: 10px;
        left: 0;
    }
}

.course-rightsection {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 25% !important;
    height: 200px;
    text-align: left;
    position: relative;

    .courselogo {
        fill: white;
        float: right;
        margin-right: 30px;

    }

    h2 {
        position: absolute;
        margin: 20px;
        color: white;
        font-size: 20px;
        font-family: "Poppins", sans-serif !important;
        font-weight: 900;
        text-transform: uppercase;
        bottom: 30px;
        right: 0;
    }

    p {
        position: absolute;
        margin: 20px;
        color: white;
        font-size: 10px;
        font-family: "Poppins", sans-serif !important;
        font-weight: 900;
        text-transform: uppercase;
        bottom: 5px;
        right: 0;
    }
}